html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: initial;
  letter-spacing: initial;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
}

:focus {
  outline: none;
  outline-color: transparent;
  outline-style: none;
}

input::placeholder {
  color: #979BA0;
  font-weight: bold;
}
input:-ms-input-placeholder {
  color: #979BA0;
  font-weight: bold;
}
input::-ms-input-placeholder {
  color: #979BA0;
  font-weight: bold;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 300;
  text-transform: none;
}

.full-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.nopadding {
  padding: 0;
}

.nopadding .row {
  margin-left: 0;
  margin-right: 0;
}

.highlight {
  font-size: 1.15em;
  color: #B2B5D0;
}

a,
a:link,
a:hover,
a:visited {
  color: inherit;
}

a.browse,
a.more {
  color: #7ABBEB;
}

/* BOOTSTRAP */
/******************************************/
.form-control {
  box-shadow: none;
  border-radius: 0;
  padding: 6px 16px;
  color: #FFF;
}

.form-group i {
  padding: 10px 12px 0 0;
  font-size: 1.2em;
}

.btn,
a.btn {
  padding: 15px 30px;
  background: #7ABBEB;
  color: #FFF;
}

.btn {
  overflow: hidden;
  color:rgba(0,0,0, 0) !important;
  transition: all .5s ease;
  text-shadow:0 0 0 #fff, 0 45px 0 #fff;
}

.btn.btn-default {
  background: #1f222b;
}

.btn:hover {
  background: #6DB7ED;
  text-shadow: 0 -45px 0 #fff, 0 0 0 #fff;
}

/* HEADER */
/******************************************/
header {
  background: #000;
  color: #FFF;
}

header #header-view {
  display: flex;
  justify-content: space-between;
}

header #header-view .logo {
  width: 172px;
  padding: 15px 0 0 15px;
}

header #header-view .logo img {
  width: 100%;
}

header #header-view .nav {
}

header #header-view ul {
  display: flex;
  margin: 0 -15px;
}

header #header-view li {
  padding: 15px 15px 0 15px;
  line-height: 2.8em;
}

header #header-view li i {
  position: relative;
  top: 2px;
  padding-right: 8px;
}

header #header-view li.btn-nav {
  padding: 0 15px;
  line-height: inherit;
}

header #header-view .btn {
  padding: 22px 44px;
  font-size: 1.15em;
  line-height: 1em;
}

header #header-view .nav-mini {
  padding: 15px;
}

header #header-view .nav-mini .hamburger {
  position: relative;
  top: 6px;
  width: 24px;
  height: 16px;
  border-top: 2px solid #DFE6EE;
}
header #header-view .nav-mini .hamburger:before {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -1px;
  content: "";
  width: 20px;
  border-top: 2px solid #DFE6EE;
}
header #header-view .nav-mini .hamburger:after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 24px;
  border-top: 2px solid #DFE6EE;
}

header #header-view .nav-mini .hamburger:hover {
  cursor: pointer;
}

header #header-view .langs {
  display: flex;
  justify-content: flex-end;
}

header #header-view .langs li {
  padding: 5px 15px 0 0;
  text-transform: uppercase;
  line-height: 2em;
}

header #header-view .langs .selected a,
header #header-view .langs a:hover {
  padding-bottom: 4px;
  border-bottom: 2px solid #7fc9ff;
}

header #header-view .langs a,
header #header-view .langs a:link,
header #header-view .langs a:hover,
header #header-view .langs a:visited {
  text-decoration: none;
}

/* FOOTER */
/******************************************/
footer {
  background: #000;
  color: #FFF;
}

footer #footer-view {
  padding: 85px 15px 5px 15px
}

footer #footer-view .logo {
  width: 192px;
}

footer #footer-view .logo img {
  width: 100%;
}

footer #footer-view .newsletter {
  max-width: 280px;
  margin: 15px 0;
}

footer #footer-view .newsletter p {
  padding: 25px 0 30px 0;
  opacity: 0.92;
}

footer #footer-view .newsletter input {
  height: 48px;
  background: #20232a;
  border: none;
}

footer #footer-view .menus {
  display: flex;
  flex-wrap: wrap;
}

footer #footer-view .nav {
  width: 100%;
}

footer #footer-view ul {
  padding: 25px 0;
}

footer #footer-view .nav ul {
  display: flex;
  flex-wrap: wrap;
}

footer #footer-view li {
  padding: 8px 0;
  opacity: 0.92;
}

footer #footer-view .nav li {
  width: 50%;
}

footer #footer-view .nav-sup {
  width: 50%;
}

footer #footer-view .social {
  width: 50%;
}

footer #footer-view .social i {
  position: relative;
  top: 4px;
  width: 30px;
  padding-right: 12px;
  font-size: 1.2em;
}

footer #footer-view .boilerplate {
  padding: 30px 0;
  text-align: center;
}

footer #footer-view .boilerplate .rights {
  opacity: 0.92;
}

footer #footer-view .boilerplate ul {
  display: flex;
  justify-content: center;
}

footer #footer-view .boilerplate li {
  padding: 0 15px;
  opacity: 0.92;
}

/* MENU OVERLAY */
/******************************************/
#menu-overlay-view {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index:99;
  color: #FFF;
  background: #000;
  text-align: center;
}

#menu-overlay-view .menu-overlay-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#menu-overlay-view .nav ul {
  padding: 44px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#menu-overlay-view .nav li {
  padding: 12px 0;
  font-size: 1.75em;
  line-height: 1em;
}

#menu-overlay-view .nav .maicon {
  position: relative;
  top: 4px;
}

#menu-overlay-view .header-view {
  display: flex;
  justify-content: space-between;
}

#menu-overlay-view .header-view .logo {
  width: 172px;
  padding: 15px 0 0 15px;
}

#menu-overlay-view .header-view .logo img {
  width: 100%;
}

#menu-overlay-view .header-view .nav-mini {
  padding: 15px;
}

#menu-overlay-view .nav-mini .hamburger {
  position: relative;
  top: 6px;
  width: 24px;
  height: 16px;
  border-top: 2px solid #DFE6EE;
}
#menu-overlay-view .nav-mini .hamburger:before {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -1px;
  content: "";
  width: 20px;
  border-top: 2px solid #DFE6EE;
}
#menu-overlay-view .nav-mini .hamburger:after {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 24px;
  border-top: 2px solid #DFE6EE;
}

#menu-overlay-view .nav-mini .hamburger:hover {
  cursor: pointer;
}

#menu-overlay-view .langs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 22px;
}

#menu-overlay-view .langs ul {
  display: flex;
}

#menu-overlay-view .langs li {
  padding: 0 15px 0 0;
  text-transform: uppercase;
  line-height: 2em;
}
#menu-overlay-view .langs li:last-child {
  padding-right: 0;
}

#menu-overlay-view .langs .selected a,
#menu-overlay-view .langs a:hover {
  padding-bottom: 4px;
  border-bottom: 2px solid #7fc9ff;
}

#menu-overlay-view .langs a,
#menu-overlay-view .langs a:link,
#menu-overlay-view .langs a:hover,
#menu-overlay-view .langs a:visited {
  text-decoration: none;
}

#menu-overlay-view .btn {
  width: 100%;
  padding: 22px 44px;
  font-size: 1.3em;
  line-height: 1em;
}

#menu-overlay-view .footer {
  margin: auto 0 0 0;
}

/* WELCOME */
/******************************************/
#welcome-view {
  position: relative;
  overflow: hidden;
  background-color: #000000;
}

#welcome-view .content {
  position: relative;
  height: 600px;
}

#welcome-view #particles-js {
  height: 100%;
}

#welcome-view .titles {
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  padding: 0 15px;
  width: 100%;
  height: 100%;
  color: #FFF;
}

#welcome-view .titles h1 {
  font-size: 3em;
}

#welcome-view .titles h2 {
  font-size: 1.3em;
  line-height: 1.4em;
  padding: 15px 0 15px 0;
}

#welcome-view .titles .actions {
  padding: 30px 0;
}

#welcome-view .titles .cta {
  pointer-events: auto;
}

#welcome-view .titles .link {
  pointer-events: auto;
  padding-top: 40px;
}

/* INDUSTRY */
/******************************************/
#industry-view {
  padding: 30px 0;
  background-color: #000;
  color: #FFF;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#industry-view .experts {
  text-align: center;
}

#industry-view .logos {
  opacity: 0.2;
  padding: 20px 0;
}

#industry-view ul {
  display: flex;
  flex-wrap: wrap;
}

#industry-view li {
  width: 50%;
  padding: 15px 0;
  text-align: center;
}

/* COLLECTIONS */
/******************************************/
#collections-view {
  padding: 150px 15px 200px 15px;
  text-align: center;
  background-image: url("../images/Sherwood-front-01.png");
  background-repeat: no-repeat;
  background-size: auto 246px;
  background-position: center bottom;
}

#collections-view h1 {
  font-size: 2.9em;
  line-height: 1.3em;
  padding: 15px 0;
}

/* WORKS */
/******************************************/
#works-view {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 15px;
}

#works-view h1 {
  padding: 15px 0;
  font-size: 2.3em;
  line-height: 1.1em;
}

#works-view .features {
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
}

#works-view .features ul {
  display: flex;
  flex-wrap: wrap;
}

#works-view .features li {
  padding: 0 0 30px 0;
}

#works-view .features .featureicon {
  margin-bottom: 22px;
  width: auto;
  height: 39px;
  background-repeat: no-repeat;
  background-size: auto 39px;
}

#works-view .features .featureicon.featureicon-design {
  background-image: url("../images/icons/Design@2x.jpg");
}

#works-view .features .featureicon.featureicon-scan {
  background-image: url("../images/icons/Scan@2x.jpg");
}

#works-view .features .featureicon.featureicon-custom {
  background-image: url("../images/icons/Tailoring@2x.jpg");
}

#works-view .features .featureicon.featureicon-manufacture {
  background-image: url("../images/icons/Manufacture@2x.jpg");
}

#works-view .features .featureicon.featureicon-market {
  background-image: url("../images/icons/Market@2x.jpg");
}

#works-view .features .featureicon.featureicon-technology {
  background-image: url("../images/icons/Technology@2x.jpg");
}

#works-view li h1 {
  padding: 5px 0;
  font-size: 1.15em;
  font-weight: 600;
}

#works-view .cta {
  padding: 25px 0;
}

/* HOW */
/******************************************/
#how-view {
  background: #000;
  color: #FFF;
  text-align: center;
  background-image: url("../images/Avon-flying2.png");
  background-repeat: no-repeat;
  background-size: auto 370px;
  background-position: center bottom;
}

#how-view .content-container {
  padding: 50px 15px 310px 15px;
  background: rgba(26, 29, 36, 0.75);
}

#how-view h1 {
  font-size: 2.9em;
  line-height: 1.2em;
  padding: 5px 0;
}

#how-view p {
  font-size: 1.3em;
  padding: 15px 0;
}

#how-view .play {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}

#how-view .play i {
  padding-right: 16px;
  font-size: 3em;
  color: #7ABBEB;
}

/* GALLERY */
/******************************************/
#gallery-view {
}

#gallery-view .gallery figure {
  margin: 5px 0;
}

#gallery-view .gallery .gallery__img {
  width: 100%;
}

/* PRESS */
/******************************************/
#press-view {
  padding: 150px 15px;
}

#press-view h1 {
  padding: 5px 0 50px 0;
  font-size: 2.3em;
  line-height: 1.1em;
}

#press-view .cta {
  text-align: right;
}

#press-view ul {
  padding-bottom: 35px;
}

#press-view li {
  padding: 25px 0;
}

#press-view li a {
  font-size: 1.15em;
}

#press-view li h1 {
  padding: 26px 0 20px 0;
  font-size: 1.7em;
}

#press-view img {
  width: 100%;
}

/* QUOTES */
/******************************************/
#quotes-view {
  position: relative;
  width: 100%;
  padding: 15px 0;
}

#quotes-view .nav-btn  {
  position: absolute;
  top: 50%;
}

#quotes-view .nav-btn:hover {
  cursor: pointer;
}

#quotes-view .nav-btn i {
  font-size: 2em;
}

#quotes-view .left-btn {
  left: 0;
}

#quotes-view .right-btn {
  right: 0;
}

#quotes-view .slider-view {
  width: 80%;
  margin: 0 10%;
  overflow: hidden;
}

#quotes-view .slider {
  margin: 0 -30px;
}

#quotes-view .slick-slide {
  margin: 0 30px;
}

#quotes-view .slick-slide img {
  min-height: auto;
}

#quotes-view .slick-arrow {
  display: none !important;
}

#quotes-view li {
  padding: 30px 15px;
}

#quotes-view p {
  font-size: 1.15em;
}

#quotes-view .attrib {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

#quotes-view .avatar {
  width: 58px;
  height: 58px;
  overflow: hidden;
  border-radius: 50%;
  background: #FFF;
}

#quotes-view .author {
  padding-left: 20px;
}

#quotes-view .avatar img {
  width: 100%;
}

#quotes-view .attrib h1 {
  font-size: 1.15em;
  font-weight: 600;
}

/* MEDIA */
/******************************************/
#media-view {
  padding: 125px 0;
}

#media-view p {
  font-size: 1.3em;
  color: #B2B5D0;
  text-align: center;
}

#media-view .slider-view {
  padding-top: 40px;
}

#media-view .slick-slide {
  margin: 0 30px;
  border: 1px solid rgba(26, 29, 36, 0.1);
}

#media-view .slick-slide img {
  width: 100%;
}

#media-view .slick-arrow {
  display: none !important;
}

/* ABOUT */
/******************************************/
#about-view {
  background: #000;
  color: #FFF;
  padding: 15px;
}

#about-view h1 {
  font-size: 1.3em;
  font-weight: 600;
}

#about-view .cta {
  font-size: 1.15em;
}

#about-view .more {

}

#about-view ul {
}

#about-view li {
  padding: 50px 0;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#about-view li:last-child {
  border: none;
}

#about-view li p {
  margin: 15px 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header #header-view .logo {
    padding-left: 0;
  }

  header #header-view .nav-mini {
    padding-right: 0;
  }

  footer #footer-view {
    padding: 0;
  }

  footer #footer-view ul {
    padding: 0;
  }

  footer #footer-view .content {
    display: flex;
  }

  footer #footer-view .content .logo-newsletter {
    width: 40%;
  }

  footer #footer-view .newsletter p {
    padding: 5px 0 25px 0;
  }

  footer #footer-view .content .menus {
    width: 60%;
  }

  footer #footer-view .content .menus .nav {
    width: 50%;
  }

  footer #footer-view .content .menus .nav-sup {
    width: 25%;
  }

  footer #footer-view .content .menus .social {
    width: 25%;
  }

  footer #footer-view .boilerplate {
    padding: 70px 0 30px 0;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  footer #footer-view .boilerplate ul {
    justify-content: flex-end;
  }

  #menu-overlay-view .header-view .logo {
    padding-left: 0;
  }

  #menu-overlay-view .header-view .nav-mini {
    padding-right: 0;
  }

  #welcome-view .content {
    height: 650px;
  }

  #welcome-view .titles {
    padding: 0;
  }

  #welcome-view .titles h1 {
    font-size: 4em;
  }

  #welcome-view .titles h1,
  #welcome-view .titles h2 {
    width: 50%;
  }

  #welcome-view .titles .actions {
    display: flex;
    align-items: center;
  }

  #welcome-view .titles .link {
    padding-top: 0;
    padding-left: 30px;
  }

  #industry-view {
    display: flex;
  }

  #industry-view .experts {
    padding-top: 22px;
    width: 14%;
    text-align: left;
  }

  #industry-view .logos {
    width: 86%;
    opacity: 1;
  }

  #industry-view ul {
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 -30px;
  }

  #industry-view li {
    width: auto;
    padding: 0 30px;
  }

  #collections-view {
    padding: 200px 15px 320px 15px;
    background-size: auto 420px;
  }

  #collections-view h1 {
    font-size: 4em;
  }

  #works-view {
    margin: 150px 0;
  }

  #works-view h1 {
    font-size: 2.8em;
  }

  #works-view .guarantee {
    width: 50%;
    padding-right: 8em;
  }

  #works-view .features {
    width: 50%;
  }

  #works-view .features ul {
    margin: 0 -15px;
  }

  #works-view .features li {
    width: 50%;
    padding: 0 15px 30px 15px;
  }

  #how-view {
    background-size: 100% auto;
  }

  #how-view .content-container {
    padding: 100px 15px 310px 15px;
  }

  #how-view h1 {
    font-size: 4em;
  }

  #gallery-view {
    padding: 25px 0;
  }

  #gallery-view .gallery {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 25px;
  }

  #gallery-view .gallery figure {
    margin: 0;
  }

  #gallery-view .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  #gallery-view .gallery__item--2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  #gallery-view .gallery__item--3 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  #gallery-view .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 9;
  }

  #gallery-view .gallery__item--5 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 9;
  }

  #gallery-view .gallery__item--6 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 9;
  }

  #gallery-view .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #press-view {
    padding: 190px 0 115px 0;
  }

  #press-view h1 {
    font-size: 2.8em;
  }

  #press-view .intro {
    display: flex;
    justify-content: space-between;
  }

  #press-view .cta {
    padding-bottom: 50px;
    margin-top: auto;
  }

  #press-view ul {
    display: flex;
    margin: 0 -15px;
  }

  #press-view li {
    width: 33.3333%;
    padding: 0 15px;
  }

  #press-view li a {
    font-size: 1.3em;
  }

  #quotes-view p {
    min-height: 300px;
    font-size: 1.3em;
  }

  #quotes-view .attrib {
    position: absolute;
    bottom: 0;
  }

  #about-view {
    padding: 30px 0;
  }

  #about-view ul {
    display: flex;
    padding: 40px 0 100px 0;
  }

  #about-view li {
    padding: 0 50px;
    border-bottom: none;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
  header #header-view .logo {
    padding-left: 0;
    width: auto;
  }

  #quotes-view p {
    min-height: 280px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  #quotes-view .slider-view {
    width: 100%;
    margin: 0;
  }

  #quotes-view p {
    min-height: 220px;
  }

  #quotes-view .left-btn {
    left: -90px;
  }

  #quotes-view .right-btn {
    right: -90px;
  }
}
