html, body {
  font-size: 14px;
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-transform: none;
}

.full-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.nopadding {
  padding: 0;
}

/* HEADER */
/******************************************/
header {
  background: #000;
  color: #FFF;
}

header #header-view {
  display: flex;
  justify-content: space-between;
}

header #header-view .logo {
  width: 180px;
  padding: 10px 0;
}

header #header-view .logo img {
  width: 100%;
}

header #header-view .nav {
}

header #header-view ul {
  display: flex;
  margin: 0 -15px;
}

header #header-view li {
  padding: 0 15px;
  line-height: 3em;
}

header #header-view li.btn-nav {
  line-height: inherit;
}

header #header-view .nav-mini {
  padding: 10px 10px 0 0;
}

header #header-view .nav-mini .hamburger {
  position: relative;
  width: 30px;
  height: 20px;
  border-top: 2px solid #fff;
}
header #header-view .nav-mini .hamburger:before {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -1px;
  content: "";
  width: 25px;
  border-top: 2px solid #fff;
}
header #header-view .nav-mini .hamburger:after {
  position: absolute;
  top: 100%;
  content: "";
  width: 30px;
  border-top: 2px solid #fff;
}

header #header-view .langs {
  display: flex;
  justify-content: flex-end;
}

header #header-view .langs li {
  text-transform: uppercase;
  line-height: 2em;
}

header #header-view .langs .selected a {
  padding-bottom: 4px;
  border-bottom: 1px solid #7fc9ff;
}

header #header-view a,
header #header-view a:link,
header #header-view a:hover,
header #header-view a:visited {
  color: inherit;
  text-decoration: none;
}

/* FOOTER */
/******************************************/
footer {
}

/* WELCOME */
/******************************************/
#welcome-view {
  overflow: hidden;
  background-color: #000000; 
}

#welcome-view #particles-js { 
  height: 400px;
}

/* INDUSTRY */
/******************************************/
#industry-view {
  padding: 15px;
  background-color: #000;
  color: #FFF;
}

#industry-view .experts {
  text-align: center;
}

#industry-view ul {
  display: flex;
  flex-wrap: wrap;  
}

#industry-view li {
  width: 50%;
  padding: 15px 0;
  text-align: center;
}

/* WORKS */
/******************************************/
#works-view {
  display: flex;
  flex-wrap: wrap;  
  margin: 15px 15px;
}

#works-view .features {
  display: flex;
  flex-wrap: wrap;  
}

#works-view .features ul {
  display: flex;
  flex-wrap: wrap;  
}

#works-view .features li {
  padding: 0 0 30px 0;
}

/* GALLERY */
/******************************************/
#gallery-view {
  padding: 15px;
}

#gallery-view .gallery figure {
  margin: 15px 0;
}

#gallery-view .gallery .gallery__img {
  width: 100%;
}

/* PRESS */
/******************************************/
#press-view {
  padding: 15px;
}

#press-view .intro {
  padding: 15px 0;
}

#press-view ul {
}

#press-view li {
  padding: 15px 0;
}

#press-view img {
  width: 100%;
}

/* QUOTES */
/******************************************/
#quotes-view {
  position: relative;
  width: 100%;
  padding: 15px;  
}

#quotes-view .nav-btn  {
  position: absolute;
  top: 50%;
}

#quotes-view .left-btn {
  left: -10px;
}

#quotes-view .right-btn {
  right: -10px;
}

#quotes-view .slider-view {
  width: 100%;
  overflow: hidden;
}

#quotes-view .slider {
  margin: 0 -10px;
}

#quotes-view .slick-slide {
  margin: 0 10px;
}

#quotes-view .slick-arrow {
  display: none !important;
}

#quotes-view li {
  padding: 15px 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #industry-view {
    display: flex;
    flex-wrap: wrap;  
  }

  #industry-view .experts {
    width: 14%;
    text-align: left;
  }

  #industry-view .logos {
    width: 86%;
  }

  #industry-view ul {
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 -30px;
  }

  #industry-view li {
    width: auto;
    padding: 0 30px;
  }

  #works-view {
    margin: 15px 0;
  }

  #works-view .guarantee {
    width: 50%;
  }

  #works-view .features {
    width: 50%;
  }

  #works-view .features ul {
    margin: 0 -15px;
  }

  #works-view .features li {
    width: 50%;
    padding: 0 15px 30px 15px;
  }

  #gallery-view {
    padding: 15px 0;
  }

  #gallery-view .gallery {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
  }

  #gallery-view .gallery figure {
    margin: 0;
  }

  #gallery-view .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  #gallery-view .gallery__item--2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  #gallery-view .gallery__item--3 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  #gallery-view .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 9;
  }

  #gallery-view .gallery__item--5 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 9;
  }

  #gallery-view .gallery__item--6 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 9;
  }

  #gallery-view .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #press-view {
    padding: 15px 0;
  }

  #press-view .intro {
    display: flex;
    justify-content: space-between;
  }

  #press-view .intro .cta {
  }

  #press-view ul {
    display: flex;
    margin: 0 -15px;
  }

  #press-view li {
    padding: 0 15px;
  }

  #quotes-view {
    padding: 0;
  }
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
