body {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
}

:focus {
  outline: none;
  outline-color: transparent;
  outline-style: none;
}

input::placeholder {
  color: #979BA0;
  font-weight: bold;
}
input:-ms-input-placeholder {
  color: #979BA0;
  font-weight: bold;
}
input::-ms-input-placeholder {
  color: #979BA0;
  font-weight: bold;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
